<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카드 상품 추가</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<h1>카드 상품 추가</h1>
<div class="button-container">
    <a href="/admin" class="btn">Admin 홈으로 가기</a>
    <a href="/cards" class="btn">모든 카드 보기</a>
</div>
<form th:action="@{/card/add}" method="post">
    <div class="form-group">
        <label for="cardType">Card Type</label>
        <select id="cardType" name="cardType" class="form-control" required>
            <option th:each="type : ${T(com.wibeechat.missa.entity.CardType).values()}"
                    th:value="${type.name()}"
                    th:text="${type.description}"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="cardName">Card Name</label>
        <input type="text" id="cardName" name="cardName" th:value="${cardInfo.cardName}" required>
    </div>
    <div class="form-group">
        <label for="cardAnnualFee">연회비</label>
        <input type="number" id="cardAnnualFee" name="cardAnnualFee" th:value="${cardInfo.cardAnnualFee}" required
               step="5000" min="0" placeholder="숫자를 입력하세요">
    </div>
    <div class="form-group">
        <label for="cardBenefit">카드 혜택</label>
        <input type="text" id="cardBenefit" name="cardBenefit" th:value="${cardInfo.cardBenefit}" required>
    </div>
    <div class="form-group">
        <label for="cardImgUrl">카드 이미지</label>
        <input type="url" id="cardImgUrl" name="cardImgUrl" th:value="${cardInfo.cardImgUrl}" placeholder="이미지 URL을 입력하세요" required>
    </div>
    <button type="submit" class="btn">추가</button>
</form>
</body>
</html>
