<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모든 펀드 상품 정보</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<h1>Fund List</h1>
<!-- 성공 메시지 Alert -->
<div th:if="${successMessage}" style="text-align: center; color: green; margin-bottom: 20px;">
    <script>
        alert('[[${successMessage}]]');
    </script>
</div>

<!-- 실패 메시지 Alert -->
<div th:if="${errorMessage}" style="text-align: center; color: red; margin-bottom: 20px;">
    <script>
        alert('[[${errorMessage}]]');
    </script>
</div>

<div class="button-container">
    <a href="/admin" class="btn">Admin 홈으로 가기</a>
    <a href="/fund/add" class="btn">펀드 추가하기</a>
</div>

<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Category</th>
        <th>Type</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${funds.empty}">
        <td colspan="5">No funds available.</td>
    </tr>
    <tr th:each="fund, loopStat : ${funds}">
        <td th:text="${currentPage != null && pageSize != null ? (currentPage * pageSize + loopStat.index + 1) : loopStat.index + 1}"></td>
        <td th:text="${fund.fundName}"></td>
        <td th:text="${T(com.wibeechat.missa.entity.FundCategory).valueOf(fund.category).description}"></td>
        <td th:text="${T(com.wibeechat.missa.entity.FundType).valueOf(fund.fundType).description}"></td>
        <td>
            <form th:action="@{/fund/delete}" method="post" style="display:inline;">
                <input type="hidden" name="fundCode" th:value="${fund.fundCode}">
                <button type="button" class="delete-btn" onclick="confirmDelete(this)">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div class="pagination">
    <!-- Previous 버튼 -->
    <a th:href="@{/funds(page=${currentPage - 1}, size=10)}" th:if="${currentPage > 0}">Previous</a>

    <!-- 동적 페이지 번호 표시 -->
    <span th:each="i : ${#numbers.sequence((currentPage - 5 > 0 ? currentPage - 5 : 0),
                                            (currentPage + 5 < totalPages - 1 ? currentPage + 5 : totalPages - 1))}">
        <a th:href="@{/funds(page=${i}, size=10)}"
           th:text="${i + 1}"
           th:classappend="${currentPage == i} ? 'active' : ''"></a>
    </span>

    <!-- Next 버튼 -->
    <a th:href="@{/funds(page=${currentPage + 1}, size=10)}" th:if="${currentPage + 1 < totalPages}">Next</a>
</div>

<script>
    function confirmDelete(button) {
        const isConfirmed = confirm("정말 이 펀드 상품을 삭제하시겠습니까?");
        if (isConfirmed) {
            button.closest("form").submit();
        }
    }
</script>
</body>
</html>
