<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모든 대출 상품 정보</title>
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<h1>Loan List</h1>

<!-- 성공 메시지 Alert -->
<div th:if="${successMessage}" style="text-align: center; color: green; margin-bottom: 20px;">
    <script>
        alert('[[${successMessage}]]');
    </script>
</div>

<!-- 실패 메시지 Alert -->
<div th:if="${errorMessage}" style="text-align: center; color: red; margin-bottom: 20px;">
    <script>
        alert('[[${errorMessage}]]');
    </script>
</div>


<div class="button-container">
    <a href="/admin" class="btn">Admin 홈으로 가기</a>
    <a href="/loan/add" class="btn">대출 상품 추가</a>
</div>

<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Loan Type</th>
        <th>Loan Name</th>
        <th>Loan Target</th>
        <th>Loan Limit</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${loans.empty}">
        <td colspan="6">No loans available.</td>
    </tr>
    <tr th:each="loan, loopStat : ${loans}">
        <td th:text="${currentPage != null && pageSize != null ? (currentPage * pageSize + loopStat.index + 1) : loopStat.index + 1}"></td>
        <td th:text="${loan.loanType}"></td>
        <td th:text="${loan.loanName}"></td>
        <td th:text="${loan.loanTarget}"></td>
        <td th:text="${loan.loanLimit}"></td>
        <td>
            <form th:action="@{/loan/delete}" method="post" style="display:inline;" class="delete-form">
                <input type="hidden" th:name="loanId" th:value="${loan.loanId}">
                <button type="button" class="delete-btn" onclick="confirmDelete(this)">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagination">
    <a th:href="@{/loans(page=${currentPage - 1}, size=${pageSize})}" th:if="${currentPage > 0}">Previous</a>
    <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{/loans(page=${i}, size=${pageSize})}"
           th:text="${i + 1}"
           th:classappend="${currentPage == i} ? 'active' : ''"></a>
    </span>
    <a th:href="@{/loans(page=${currentPage + 1}, size=${pageSize})}" th:if="${currentPage + 1 < totalPages}">Next</a>
</div>

<script>
    function confirmDelete(button) {
        // Confirm 삭제 여부
        const isConfirmed = confirm("정말 이 대출 상품을 삭제하시겠습니까?");
        if (isConfirmed) {
            // Form을 찾아서 submit
            button.closest("form").submit();
        }
    }
</script>
</body>
</html>
